@keyframes fadeOut {
  0% { 
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1.5); 
  }
  100% { 
    opacity: 0; 
    transform: translate(-50%, -50%) scale(1); 
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.brightness-150 {
  filter: brightness(1.5);
}